<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDooYUJ2h6-2_NWDo-xe8UMjzZGJBBwOZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>286209287417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.complete</string>
	<key>PROJECT_ID</key>
	<string>appweek4</string>
	<key>STORAGE_BUCKET</key>
	<string>appweek4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286209287417:ios:71aadcd4d9f27a781eae28</string>
</dict>
</plist>